.first-row,
.second-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.inputs label {
  margin-right: 10px;
  margin-left: 40px;
}

.second-row label {
  margin-right: 10px;
}

form .btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn button {
  padding: 4px;
}
